@if (secureExamSpace === 'dashboard') {
  <app-accueil
    (professorSelected)="openProfessorSpace()"
    (supervisorSelected)="openSupervisorSpace()">
  </app-accueil>
} @else if (secureExamSpace === 'support') {
  <app-support
    (backRequested)="backToMainDashboard()">
  </app-support>
} @else if (secureExamSpace === 'supervisor') {
  @if (!isSupervisorAuthenticated) {
    <app-supervisor-authentication
      (authenticated)="handleSupervisorAuthenticated()"
      (backToDashboard)="backToMainDashboard()"
      (supportRequested)="openPublicSupportPage()">
    </app-supervisor-authentication>
  } @else {
    <app-supervisor-space
      [publicSupportMode]="false"
      (backToDashboard)="backToMainDashboard()"
      (logoutRequested)="logoutSupervisor()">
    </app-supervisor-space>
  }
} @else {
  <app-professeur-space></app-professeur-space>
}
