<!-- GLOBAL NOTIFICATIONS START -->
<app-global-notifications></app-global-notifications>
<!-- GLOBAL NOTIFICATIONS END -->

@if (secureExamSpace === 'dashboard') {

  <app-accueil
    (professorSelected)="openProfessorSpace()"
    (adminSelected)="openAdminSpace()"
    (studentSelected)="openStudentSpace()">
  </app-accueil>

} @else if (secureExamSpace === 'support') {

  <app-support
    (backRequested)="backToMainDashboard()">
  </app-support>

} @else if (secureExamSpace === 'admin') {

  @if (!isAdminAuthenticated) {

    <app-admin-authentication
      (authenticated)="handleAdminAuthenticated()"
      (backToDashboard)="backToMainDashboard()"
      (supportRequested)="openPublicSupportPage()">
    </app-admin-authentication>

  } @else {

    <app-admin-space
      [publicSupportMode]="false"
      (backToDashboard)="backToMainDashboard()"
      (logoutRequested)="logoutAdmin()">
    </app-admin-space>

  }

} @else if (secureExamSpace === 'student') {

  @if (!isStudentAuthenticated) {

    <app-student-authentication
      (authenticated)="handleStudentAuthenticated()"
      (backToDashboard)="backToMainDashboard()">
    </app-student-authentication>

  } @else {

    <app-student-space
      (backToDashboard)="backToMainDashboard()"
      (logoutRequested)="logoutStudent()">
    </app-student-space>

  }

} @else {

  <app-professeur-space>
  </app-professeur-space>

}
