# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# Backend generated data
backend/configs/
backend/submissions/
backend/status/
backend/status_history/
backend/support_requests/
backend/profile/
backend/uploads/

# SQLite database files
backend/database/*.db
backend/database/*.sqlite
backend/database/*.sqlite3
backend/database/*.db-journal
backend/database/*.db-wal
backend/database/*.db-shm
backend/database/*backup*.db


# Exam client generated data
exam-client/archives/
exam-client/downloaded/
exam-client/generated/
exam-client/logs/
exam-client/runtime/
exam-client/submitted/

# Angular
frontend/node_modules/
frontend/.angular/
frontend/dist/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/exam-client/client_settings.json
