<section class="authentication-page">
  <app-header-auth class="authentication-header-auth"></app-header-auth>

  <div class="authentication-card">
    <div class="authentication-heading">
      <div class="authentication-icon">
        <i data-lucide="shield-check"></i>
      </div>

      <div class="authentication-title-block">
        <h1>Authentication</h1>
        <p>ISEN SecureExam</p>
      </div>
    </div>

    <label>
      Identifiant
      <input
        type="text"
        [(ngModel)]="username"
        placeholder="prof"
        autocomplete="username"
      >
    </label>

    <label>
      Mot de passe
      <input
        type="password"
        [(ngModel)]="password"
        (keyup.enter)="submitAuthentication()"
        placeholder="Mot de passe"
        autocomplete="current-password"
      >
    </label>

    <button type="button" (click)="submitAuthentication()">
      <i data-lucide="log-in" class="btn-icon"></i>
      S'authentifier
    </button>

    <div *ngIf="authenticationError" class="authentication-error">
      <i data-lucide="circle-alert" class="message-icon"></i>
      {{ authenticationError }}
    </div>

    <div class="authentication-support">
      <span>Problème de connexion ?</span>

      <a
        href=""
        class="support-link"
        (click)="openSupport(); $event.preventDefault()"
      >
        <i data-lucide="life-buoy"></i>
        Consulter le support
      </a>
    </div>
  </div>
</section>